*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}
main{
    text-align: center;
}
input[type="text"]{
    width: 33.333%;
    padding:1% 0;
    padding-left: 1%;
    font-size: 20px;
    margin-bottom: 7vh;
}

.random-word{
    padding: 5px;
}
div.words-to-type{

    line-height: 3;
    margin: 3vh auto;
    border: 3px solid lightblue;
    width: 50%;
    height: auto;
    text-align: left;
    border-radius: 3px; 
    overflow: hidden;
}
.match-result{
    display: none;
    margin-top: 2vh;
}
.btn-start-game{
    margin-top: 2vh;
    display: none;
    
}
.active{
    display:block;
}

.green{
    color: green;
}
.red{
    color: red;
}
